<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="templates/bootstrap.css">
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Batch(lb)</h2>
		{{ batch_pivot_lb }}
		<p style="page-break-before: always" ></p>
		<h2>Batch(gram)</h2>
		{{ batch_pivot_gm }}
		<p style="page-break-before: always" ></p>
		<h2>Remove from Inventory (includes green beans)</h2>
		{{ green_pivot }}

	</div>
</div>

</body>
</html>