<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
<div class="container">
	<div class="row">
		<!-- <h2>Batch(lb)</h2>
		<h3>{{ title }}</h3>
		{{ batch_pivot_lb }} -->
		<p style="page-break-before: always" ></p>
		<h2>Batch(gram)</h2>
		<h3>{{ title }}</h3>
		{{ batch_pivot_gm }}
		<p style="page-break-before: always" ></p>
		<!-- Remove from Inventory (includes green beans)
		<h3>{{ title }}</h3>
		{{ green_pivot }} -->
	
		<p style="page-break-before: always" ></p>
		<h2>Bags</h2>
		<h3>{{ title }}</h3>
		{{ bag_pivot }}

		<p style="page-break-before: always" ></p>
		<h2>Blend Total</h2>
		<h3>{{ title }}</h3>
		{{ blend_total }}
		<h2>Blends</h2>
		{{ blend_info }}

	</div>
</div>

</body>
</html>